.cellInput {
    width: 60px;
    height: 60px;
    margin: -2px;
    padding:2px;
    border-radius: 0;
    border: 1px solid #cccccc;
    font-size: 48px;
    text-align: center;
}

.cellInputLeftBorder {
    border-left: 3px solid #0077b6
}

.cellInputRightBorder {
    border-right: 3px solid #0077b6
}

.cellInputTopBorder {
    border-top: 3px solid #0077b6
}

.cellInputBottomBorder {
    border-bottom: 3px solid #0077b6
}